//
   Created by neilhighley on 05/09/2015.
extends layout
block content
   h1 Assign a task to a helper

   div(class="container-fluid")
      div The task is&nbsp;
         strong #{task_selected.name}
         br
         span Location = #{task_selected.location}
      div These skills are required for this task:
         ul
            each tsk in task_selected.skills_required
              li= tsk
      br
      br
      div The helpers who have at least one of these skills are:
         ul(class="helper-list")
            each helpr in helpers_matched
               li(onclick="usehelper(#{helpr.id})")
                 img(src="/images/pusher_logo.png",height="60px",style="float:left")
                 div(class="helper-name") #{helpr.name}
                 div(class="helper-desc") #{helpr.description}
                   ul(class="helper-skills")
                     each skl in helpr.skillset
                       li= skl
                 br(clear="both")
                 div(class="helper-loc")
                     div
                       img(src="/images/what3words_pin-red.png", height="25px")
                       a(href="http://w3w.co/#{helpr.location}", target="_blank") #{helpr.location}

