//
   Created by neilhighley on 05/09/2015.
extends layout
block content
   h1= title
   ul(class="task-list")
      each tsk in tasks
         li(onclick="usetask(#{tsk.id})")
            div
               img(src="/images/pusher_logo.png",height="30px")
               strong #{tsk.name}
               br
               div
                   img(src="/images/what3words_pin-red.png", height="25px")
                   a(href="http://w3w.co/#{tsk.location}", target="_blank")  #{tsk.location}
            div These skills are required for this task:
              ul
                 each tskskill in tsk.skills_required
                    li= tskskill
