extends layout
block content

   ul(class="helper-list")
      each helpr in helpers_available
         li
            div(class="helper-name") #{helpr.name}
            div(class="helper-desc") #{helpr.description}
             ul(class="helper-skills")
                 each hskl in helpr.skillset
                     li #{hskl}
            br(clear="both")
            div(class="helper-loc")
                div
                    img(src="/images/what3words_pin-red.png", height="25px")
                    a(href="http://w3w.co/#{helpr.location}", target="_blank")  #{helpr.location}
